*.app
*.flf
*.bclicense
*.g.xlf
.DS_Store
Thumbs.db
TestResults*.xml
bcptTestResults*.json
BuildOutput.txt
rad.json
.app/.output/
.app/.dependencies/
.app/.buildartifacts/
.app/.alpackages/
.app/.packages/
.app/.alcache/
.app/.altemplates/
.app/.snapshots/
.app.test/.output/
.app.test/.dependencies/
.app.test/.buildartifacts/
.app.test/.alpackages/
.app.test/.packages/
.app.test/.alcache/
.app.test/.altemplates/
.app.test/.snapshots/
cache_*
~$*
app/.vscode/launch.json
